:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, 'Menlo', 'Monaco', 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255,255,255;
  /* 255, 155, 250; */
  /* --background-end-rgb: 0,180,255; */
  /* 0, 155, 255; */

  --primary-glow: conic-gradient(
    from 90deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  /* --secondary-glow: radial-gradient(
    rgba(16, 204, 94, 0.89),
    rgba(230, 220, 220, 0.5)
  ); */

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #d6797940,
    #dd6969d5,
    #e97474d8,
    #e69292b9,
    #e9acacc0,
    #ccb4b4d2
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 0, 0, 0;
  --card-border-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;

    /* --primary-glow: radial-gradient(rgb(0, 0, 0), rgba(63, 179, 247, 0.836)); */
    /* --secondary-glow: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
      rgba(255, 255, 255, 1)
    ); */

    --tile-start-rgb: 0, 0, 0;
    --tile-end-rgb: 0, 0, 0;
    --tile-border: conic-gradient(
    #f7f1f100,
    #ffffff00,
    #ffffff00,
    #f7efee00,
    #fdfdfd00,
    #ffffff00,
    #ffffff00
  );

    --callout-rgb: 0, 0, 0;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-mono);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar{
  position: fixed;
  display:flex;
  justify-content: end;
  align-items: stretch; 
  
  /* margin:5px; */
  top:0;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  /* border-radius: 5px;  */
  border: 1px solid #000000;
  
  background-color: rgba(255, 255, 255);
}

.nav-item{
  font-family: var(--font-mono);
  display:inline;
  position: relative;
  padding: 5px;
  margin:2;
}
.nav-item a {
  float:right;
  font-family: var(--font-mono);
  font-weight: normal;
  
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px;
  padding-right: ;
  
}



.nav-item a:hover {
  background: rgb(235, 225, 225);
  /* color: rgb(246, 249, 250);  */
  
  
}


ul.navbar li a {
  /* text-align: center; */
  /* justify-content: center; */
  /* float:left; */
  text-decoration: none;
  /* font-size: 17px; */
  /* margin-right: 20px; */
  border-radius: 10px;
  color: #333; /* Customize the link color */
}



/* ul.navbar:last-child {
  margin-right:0;

} */

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
